name: Test Install Skopeo Action

on:
  push:
    branches:
      - dev
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        include:
          - type: latest
            version: 1.20.0
            mode: ""
          - type: master
            version: master
            mode: ""
          - type: empty
            version: ""
            mode: ""
          - type: latest
            version: 1.20.0
            mode: build
          - type: master
            version: master
            mode: build

    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Skopeo ${{ matrix.version }}
        uses: ./ 
        with:
          mode: ${{ matrix.mode }}
          version: ${{ matrix.version }}
          
      - name: Check Skopeo version
        run: skopeo --version
