name: Test Install Skopeo Action

on: [ push ]

jobs:
  test:
    strategy:
      matrix:
        include:
          - type: latest
            version: 1.19.0
          - type: master
            version: master
          - type: empty
            version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Skopeo ${{ matrix.version }}
        uses: ./ 
        with:
          version: ${{ matrix.version }}
          
      - name: Check Skopeo version
        run: skopeo --version
